body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    text-align: center;
}
.menu{
    background-color: green;
    width: 100%;
}

.opcao{
    text-align: center; 
    width: 25%;
}
.destino{
    width: 230px;
     height:250px;
}